
.dropDown{
    margin-top: 100px;
     }
  #constituency{
    height: 5vmin;
    font-size:18px;
    color: rgb(233, 232, 232);
    width: 400px;
    border-radius: 4px;
    background-color:#292828;
  } 
  /* .firstWidget{
    height: 240px; 
    
  } */
  .radioBtns{
    color: white;
    font-size: 20px;
    height:  100px;
    width: 400px; 
  } 
  .rb2{
    margin-left:100px;
  }
  .rb3{
    margin-top: 20px;
  }

  input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -7px;
    left: -8px;
    position: relative;
    background-color: #000000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -7px;
    left: -8px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}