#constituency {
  height: 2.5rem;
  font-size: 18px;
  color: rgb(233, 232, 232);
  width: 100%;
  background-color: #292828;
  padding: 0.3rem;
}

.radioBtns {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0.5rem;
  flex-direction: column;
}
.rb {
  flex: 2 1;
  margin-bottom: 1.5rem;
  width: 80%;
}
.rb1 {
  float: left;
}
.rb2 {
  float: right;
}
.rb3 {
  flex: 1 1;
  float: left;
  margin-bottom: 1.5rem;
}
input[type="radio"] {
  margin-right: 1rem;
}
input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -4px;
  left: -10px;
  position: relative;
  background-color: #000000;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -4px;
  left: -10px;
  position: relative;
  background-color: #ffffff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
