
.dropDown{
    margin-top: 100px;
     }
  #constituency{
    height: 5vmin;
    font-size:18px;
    color: rgb(233, 232, 232);
    width: 400px;
    border-radius: 4px;
    background-color:#292828;
  } 
  .firstWidget{
    height: 240px; 
    
  }
  .radioBtns{
    color: white;
    font-size: 20px;
    height:  100px;
    width: 400px; 
  } 
  .rb2{
    margin-left:100px;
  }
  .rb3{
    margin-top: 20px;
  }
  .ratio{
    justify-content: center;
    background-color:#353330;
    color: white;
  
  }
.tableWrapper {
    padding: 0px;
    overflow: hidden;
    width: 405px;
  }
   .table {
    width: 100%;
   }
    
  .tHeading{
    /* width: 100%; */
    text-align: center;
    font-size: 20px;
    background-color:rgb(49, 48, 48);
    color:white;
    
  }
  .table th{
    padding:8px;
  }
  .tBody{
    font-size: 18px;
    background-color:rgb(243, 165, 119);
    color:#000000;
    font-weight: bold;
  }
  .tBody td{
    padding:6px;
    text-align:center;
  }
  