body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}
.backToMap {
  display: flex;
  align-content: center;
  color: #ffff;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.backToMap div {
  display: flex;
  align-content: center;
  justify-content: center;
}
.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */
}
.scaling-svg {
  position: absolute;
  left: 0;
  top: 0;
}
.gridContainer {
  display: flex;
}
.gridContainer > div {
  background-color: #000000;
  font-size: 36px;
  font-style: inherit;
  font-weight: 800;
}

.item1 {
  flex: 0.5;
  padding-top: 5rem;
  padding-right: 2rem;
}
.item2 {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
.constName {
  font-size: 50px;
  font-weight: bold;
}

.headingItem3 {
  margin-top: 60px;
  letter-spacing: 3px;
}

.item4 {
  display: flex;
}
.item4_1,
.item5_1,
.item5_2 {
  flex: 1;
  margin: 1rem;
}
.item4_2 {
  flex: 2;
  margin: 1rem;
}
.putInLeft {
  font-weight: 800;
  letter-spacing: 5px;
  margin: 30px;
}
.gridItem .largeText {
  font-size: 30px;
  font-weight: 800;
}

.percentageGap {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
  font-weight: 900px;
  letter-spacing: 2px;
}

.iconBox {
  text-align: center;
}
.item5 {
  display: flex;
}
.graphContainer{
  display: flex;
  height: 340px;
  /* border:4px solid white; */

}
.graph {
  font-size: 13px;
}

.winnerPic {
  display: flex;
  align-content: flex-start;
}
.winnerImg {
  height: 12rem;
  width: 12rem;
  padding: 15px;
  flex: 1;
}
.detail {
  flex: 2;
  color: white;
  margin-top: 2rem;
  margin-left: 1rem;
  text-align: left;
}
.bottomDetails {
  display: flex;
  margin-top: 2rem;
}
.won {
  flex: 1;
  align-content: flex-start;
  border-radius: 12px;
  align-items: center;
  display: inline-block;
  padding: 0.1rem 0.3rem;
  color: white;
  background-color: rgb(32, 228, 32);
  max-width: fit-content;
  height: fit-content;
}

.winnerBottomRight {
  align-content: flex-end;
  margin-left: 2rem;
  display: flex;
  margin-left: auto;
}

.winnerBottomRight div {
  width: fit-content;
  margin-right: 0.4rem;
}
.lost {
  flex: 1;
  align-content: flex-start;
  border-radius: 12px;
  align-items: center;
  display: inline-block;
  padding: 0.1rem 0.3rem;
  color: white;
  background-color: red;
  max-width: fit-content;
  height: fit-content;
}
.item5_1,
.item5_2,
.item4_1,
.item4_2 {
  border: 2px solid rgb(111, 111, 252);
}

.recharts-default-legend {
  margin-bottom: -5rem;
}
