.ratioComponent {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 0rem;
  border-radius:5px;
  padding :5px 10px;
  margin-left:155px;
  background-color:#292828;
}
.targetComponent{
  margin: 10px;
  text-align: center;
  color: white;
  /* margin-bottom: 10px; */
}
.pieChartClass {
  width: 100%;
  /* margin: auto; */
}
.tableWrapper {
  padding: 0px;
  overflow: hidden;
  width: 100%;
}
.table {
  width: 100%;
}

.tHeading {
  /* width: 100%; */
  text-align: center;
  font-size: 20px;
  background-color: rgb(49, 48, 48);
  color: white;
}
.table th {
  padding: 8px;
}
.tBody {
  font-size: 18px;
  background-color: rgb(243, 165, 119);
  color: #000000;
  font-weight: bold;
}
.tBody td {
  padding: 6px;
  text-align: center;
}
/* .partyNameColumn{
  text-align: left
} */