.ratioComponent {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 0rem;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 155px;
  background-color: #292828;
}
.targetComponent {
  margin: 10px;
  text-align: center;
  color: white;
  /* margin-bottom: 10px; */
}
.pieChartClass {
  width: 100%;
  /* margin: auto; */
}
.tableWrapper {
  padding: 0px;
  overflow: hidden;
  width: 100%;
}
.table {
  width: 100%;
}

.tHeading {
  /* width: 100%; */
  text-align: start;
  font-size: 20px;
  background-color: #0766fb;
  color: white;
}
.table th {
  padding: 10px;
}
.table-head {
  border-radius: 15px;
}
.tBody {
  font-size: 18px;
  background-color: #292828;
  color: white;
  font-weight: bold;
  border: 1px solid #848482;
}
.tBody td {
  padding: 6px;
  text-align: start;
}
