.App {
  display: flex;
  flex: 1 1;
  align-content: center;
}
body {
  background-color: #000000;
}
button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.container {
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 92vw;
}
.btn {
  background-color: transparent;
  color: white;
  padding: 9px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn:hover {
  background-color: transparent;
  color: white;
}

.active {
  background-color: #0766fb;
  color: white;
}
/* .toolTipHeading {
  color: "white";
  background-color: #3ac9de;
  padding: "20px";
} */
.mapdiv {
  margin-left: 3rem;
  margin-right: 1rem;
  flex: 2 0;
  align-items: stretch;
}

.row2 {
  display: flex;
  align-items: flex-start;
}

.stateBtnHeader {
  margin: auto;
  border: 1px solid #0766fb;
  border-radius: 1px;
  width: fit-content;
}
.firstWidget {
  flex: 1 1;
}
.secondWidget {
  margin: 3rem 0rem;
}

.st0:hover {
  fill: #a0a0a0;
  stroke: #ffffff;
  stroke-width: 1;
}
.st1:hover {
  fill: #a0a0a0;
  stroke: #ffffff;
  stroke-width: 1;
}
.st2:hover {
  fill: #a0a0a0;
  stroke: #ffffff;
  stroke-width: 1;
}
.st3:hover {
  fill: #a0a0a0;
  stroke: #ffffff;
  stroke-width: 1;
}
.st4:hover {
  fill: #a0a0a0;
  stroke: #ffffff;
  stroke-width: 1;
}
.st5:hover {
  fill: #a0a0a0;
  stroke: #ffffff;
  stroke-width: 1;
}
.cns-1:hover {
  fill: #ffffff;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.st6 {
  display: none;
}
